body,html {
	position: relative;
	width: 100%;
	height: 100%;
	font: 14px/18px "Open Sans", "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4 {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

::-webkit-scrollbar {
	background: #f9f9f9;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #000;
	.border-radius(5px);
}

.map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 70%;
}

.map-container #map {
	width: 100%;
	height: 100%;
}

#content {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 30%;
	background: #f0f0f0;
	border-left: 10px solid #000;
}

#content .inner {
	padding: 20px;
}

#content #filters h3 {
	text-transform: uppercase;
	font-weight: 200;
	margin: 0 0 20px;
}

#content #filters h4 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
}

#content #filters input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

#content #filters select {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
}

#content #filters .categories ul {
	margin: 0;
	padding: 0;
}

#content #filters .categories ul li {
	width: 33%;
	height: 34px;
	box-sizing: border-box;
	padding: 5px;
	margin: 0;
	border: 1px solid #f0f0f0;
	float: left;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 600;
	background: #fff;
}

#content #filters .date {
	width: 45%;
	float: left;
}

#content #filters .time {
	width: 45%;
	float: right;
}

#content #filters .date ul li {
	width: 12.5%;
	box-sizing: border-box;
	padding: 5px;
	margin: 0;
	border: 1px solid #f0f0f0;
	float: left;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 600;
	background: #fff;
	text-align: center;
}

#content #filters .time ul li {
	width: 12.5%;
	box-sizing: border-box;
	padding: 5px;
	margin: 0;
	border: 1px solid #f0f0f0;
	float: left;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	font-weight: 600;
	background: #fff;
	text-align: center;
}

#content #list {
	position: absolute;
	top: 450px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	overflow: auto;
}

#content #list ul {
	margin: 0 20px 0 0;
}

#content #list li {
	background: #fff;
	box-shadow: 0px 1px 0px #000;
	padding: 10px;
	margin: 0 0 20px;
}

#content #list li p.category {
	font-style: italic;
	font-size: 12px;
	line-height: 12px;
	color: #666;
	margin: 0;
}

#content #list li h3 {
	font-size: 18px;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

#activity-page {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 70%;
}