body,html {
	position: relative;
	width: 100%;
	height: 100%;
	font: 14px/18px "Open Sans", "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4 {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

::-webkit-scrollbar {
	background: #f9f9f9;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #000;
	.border-radius(5px);
}

#loading {
	position: absolute;
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.95);
	color: #fff;
	font-size: 32px;
	line-height: 32px;
	font-weight: 800;
	padding-top: 20%;
	text-align: center;
	box-sizing(border-box);
}

#header {
	position: absolute;
	top: 0;
	height: 100px;
	width: 70%;
	background: #000;
}

#header h1 {
	color: #fff;
	font-weight: 800;
	line-height: 100px;
	margin: 0 20px;
	float: left;
	position: relative;
	z-index: 99999;
}

#header h2 {
	font-weight: 200;
	float: left;
	font-size: 20px;
	line-height: 100px;
	color: #555;
	text-transform: uppercase;
	margin-top: 5px;
	position: relative;
	z-index: 99999;
}

#header .nav {
	float: right;
	margin: 38px 20px 0;
}

#header .nav a {
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #999;
	text-decoration: none;
	text-transform: uppercase;
	background: #111;
	float: left;
	padding: 8px 12px;
	margin-right: 1px;
}

#header .nav a:hover {
	color: #fff;
}

.map-container {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	width: 70%;
}

.map-container #map {
	width: 100%;
	height: 100%;
}

#content {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 30%;
	background: #f0f0f0;
	border-left: 10px solid #000;
}

#content .inner {
	padding: 20px;
}

#content h3 {
	text-transform: uppercase;
	font-weight: 200;
	margin: 0 0 20px;
}

#content #filters h4 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
}

#content #filters .clear-search {
	float: right;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	cursor: pointer;
	margin: 5px 0 0;
	font-weight: 800;
	background: #fff;
	padding: 8px 12px;
}

#content #filters input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

#content #filters select {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
}

#content #filters .chzn-container {
	margin-bottom: 10px !important;
	width: 100% !important;
}

#content #filters .search-field input {
	height: auto;
	margin: 0;
}

#content #filters .chzn-container .chzn-results .highlighted {
	background: #000;
}

#content #filters .chzn-container-multi .chzn-choices {
	border-color: #ccc;
	box-shadow: 0 0 0 !important;
	-webkit-box-shadow: 0 0 0 !important;
	-moz-box-shadow: 0 0 0 !important;
	background: #fff !important;
}

#content #filters .chzn-container-multi .chzn-choices .search-choice {
	margin-top: 5px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: 0;
	background: #f0f0f0;
	color: #333;
	padding: 5px 20px 5px 8px;
}

#content #filters .chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	top: 6px;
}

#content #filters .chzn-container-single .chzn-single {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background: #fff;
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	border-color: #ccc;
	padding: 10px;
	height: auto;
}

#content #filters .chzn-container-single .chzn-single span {
	font-size: 12px;
	line-height: 12px;
}

#content #filters .chzn-container-single .chzn-single div {
	top: 5px;
}

#content #filters .chzn-container-single .chzn-single abbr {
	top: 10px;
}

#content #filters .chzn-container-single .chzn-search input {
	width: 100% !important;
	padding: 4px 20px 4px 5px;
	box-sizing: boder-box;
}

#content #filters .date {
	width: 48%;
	float: left;
}

#content #filters .time {
	width: 48%;
	float: right;
}

#content #list {
	position: absolute;
	overflow: auto;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}

#content #list ul {
	margin: 0 20px 0 0;
}

#content #list li {
	background: #fff;
	box-shadow: 0px 1px 0px #000;
	padding: 10px;
	margin: 0 0 20px;
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

#content #list li:hover {
	background: #f0f0f0;
}

#content #list li p.category {
	font-style: italic;
	font-size: 12px;
	line-height: 12px;
	color: #666;
	margin: 0;
}

#content #list li h3 {
	font-size: 18px;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

#single-page {
	display: none;
	position: absolute;
	top: 100px;
	bottom: 0;
	width: 70%;
	background: #222;
	box-sizing: border-box;
	background: rgba(0,0,0,0.85);
	overflow: auto;
	color: #f0f0f0;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

#single-page .loading {
	font-size: 20px;
	margin-top: 30%;
	color: #f0f0f0;
	text-align: center;
}

#single-page .content {
	overflow: auto;
	top: 15%;
	bottom: 15%;
	right: 15%;
	left: 15%;
	position: absolute;
	padding-right: 20px;
}

#single-page.toggled {
	top: 80%;
}

#single-page h1,
#single-page h2,
#single-page h3,
#single-page h4,
#single-page h5 {
	color: #fff;
	margin: 0;
}

#single-page p.cat {
	margin: 10px 0;
	font-size: 11px;
	font-weight: 800;
	line-height: 11px;
}

#single-page h2 {
	font-weight: 800;
	margin: 0;
	width: 80%;
}

#single-page h3 {
	font-weight: 100;
	font-size: 20px;
	line-height: 20px;
}

#single-page p.local {
	font-weight: 600;
	margin: 20px 0;
}

#single-page p.local span {
	font-weight: 800;
}

#single-page .actions {
	position: absolute;
	top:15%;
	right: 20%;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 11px;
	line-height: 11px;
	font-weight: 800;
	z-index: 100;
	width: 20%;
}

#single-page .actions p {
	float: right;
	margin: 10px 5px;
}


/*
 * Map
 */

#map .leaflet-popup-content-wrapper {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

#map .leaflet-popup-content {
	margin: 10px;
}

#map .leaflet-popup-content p.meta {
	font-size: 11px;
	margin: 0 0 5px;
}

#map .leaflet-popup-content p.meta span {
	background: #f0f0f0;
	padding: 3px 5px;
	text-transform: uppercase;
}

#map .leaflet-popup-content p.meta span.cat {
	font-weight: 800;
}

#map .leaflet-popup-content h2 {
	font-size: 14px;
	font-weight: 800;
	line-height: 18px;
}

#map .leaflet-popup {
	margin-bottom: 20px;
	max-width: 200px;
}

#map .leaflet-popup:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
}

#map .leaflet-popup-close-button,
#map .leaflet-popup-tip-container {
	display: none !important;
}

#map .leaflet-popup-content-wrapper,
#map .leaflet-popup-tip {
	border: 0;
}